[Desktop Entry]
Type=Application
Name=Vim
GenericName=Text Editor
Comment=Edit text files and view directory/archive listings
Icon=nvim
Categories=Editor
Exec=vim %U
TryExec=vim
Terminal=true
StartupNotify=false
MimeType=application/json;application/x-sh;application/x-httpd-php;text/javascript;text/plain;text/x-diff;text/xml;inode/directory;
Keywords=Editor;Filemanager
