[Desktop Entry]
Version=1.0
Name=Copy pictures from SD card
Name[et]=Kopeeri pildid SD kaardilt
Exec=HOME/bin/upload-cam
Terminal=true
Type=Application
StartupNotify=false
Categories=Utility;
