[Desktop Entry]
Version=1.0
Name=upload-cam
GenericName=Copy camera files from SD card
Exec=HOME/bin/upload-cam
Terminal=true
Type=Application
StartupNotify=false
Categories=Utility;
